

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;

}

.about-left-side {
  flex: 1;
  margin-top: auto;
  height: calc(100vh - 150px);
  margin-top: 100px;
}



.div {
  border-width: 10px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 15px 15px #7df7df;
  height: 500px;
  width: 600px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;

}

.h1, .h2, .h4{
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #7df7df;
}

.main {

  padding-bottom: 50px;
  padding-left: 80px;
}

.about-right-side {
  flex: 1; /* This will take up the other half */
  background: url('/dreamon.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
