.div {
  border-style: outset;
  border-color: #000000;
  box-shadow: 10px 10px #68FF45;
  height: 400px;
  width: 800px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

}

.h1 {
  color: rgb(10, 2, 2);
  text-shadow: 2px 2px #68FF45;
}

.h2 {
  color: rgb(10, 2, 2);
  text-shadow: 2px 2px #68FF45;
}

.h4 {
  color: rgb(10, 2, 2);
  text-shadow: 2px 2px #68FF45;
}

.main {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
