@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  margin: 0;
  padding: 0;

}


nav {
  width: 100vw;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  display: flex;

  > div a {
    margin: 30px;
    color: rgb(3, 3, 3);
    text-shadow: 2px 2px hwb(183 46% 0%);

  }

  &visited {
    color: rgb(8, 8, 8);
  }
}

body {
  padding-top: 10;
  min-height: 100vh;
  min-width: 100vw;
}


.footer {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  flex-shrink: 0;

}

.error {
  color: rgb(255, 41, 98);
}
