

* {

  margin: 0;
  padding: 0;
  font-family: 'Righteous', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;

}

nav a {
  margin: 30px;
  color: rgb(4, 4, 4);
  font-weight: bold;
  font-size: 20px;


  &visited {
    color: rgb(4, 4, 4);

  }
}

body {
  padding-top: 10;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat Alternates', sans-serif;
}


.footer {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 100%;
  flex-shrink: 0;
  background: transparent;
  color: black;
  position: sticky;
  bottom: 0;
}

.error {
  color: rgb(255, 41, 98);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 500px;
  border-style: solid;
  box-shadow: 10px 10px #68FF45;
  background-image: url('/yellownote.jpeg');
  background-size: cover;
  background-position: center;
}
.login-form-container {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

  .form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  form input {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    width: 80%;
  }


.container {
  display: flex;
  width: 100vw;
  height: 100vh;

}

.left-side {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  text-align: center;
  border-radius: 5px;
}

.text-container {
  margin: -100px 20px 20px 20px;
  padding: 20px;
  line-height: 1.6;
  white-space: pre-wrap;
  background-color: #EA1D68;
  box-shadow: 3px 0px 30px 0px rgba(0,0,0,0.75);
  // text-shadow: 1px 1px white;

}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/note.png') no-repeat center center;
  background-size: cover;
}


.buckets-page-container {
  background-image: url('/neonshapes.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;


}

.h2bucket {
  margin-top: var(20rem);
  text-align: center;
  z-index: 2;
}

.bucket-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);


  }
}

// Reg, Login pages style:
.auth-page-container {
  display: flex;
  width: 100vw;
  height: 100vh;

}

.form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-style: solid;
  box-shadow: 15px 15px #68FF45, -15px 15px #C1E835;
  max-width: 700px;
  max-height: 300px;
  margin-top: calc((100vh - 400px) / 2);
  margin-left: 50px;

}


.image-side {
  flex: 1;
  background: url('/hello.png') no-repeat center center;
  background-size: cover;
  padding-left: 70px;
  margin-left: 30px;
}


.auth-page-container.registration-background .image-side {
  background-image: url('/hello.png');
}

.auth-page-container.login-background .image-side {
  background-image: url('/path-to-login-background.jpg');
}

.input-field {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
